:root {
  --primary-color: #757575;
  --secondary-color: #212121;
  --additional-color: #f5f4fa;
  --contrast-color: #ffffff;
  --contrast-base-color: #2f303a;
  --icon-color: #afb1b8;
  --accent: #2196f3;
  --grid-gap: 30px;
  --grid-raw-elements: 3;
  --transition-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  min-width: 1200px;
  font-family: Roboto, sans-serif;
  color: var(--primary-color);
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.accent {
  color: var(--accent);
}

.button {
  font: inherit;
  border: none;
  color: var(--contrast-color);
  cursor: pointer;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  display: inherit;
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Header */

.page-header {
  display: flex;
  border-bottom: 1px solid #ececec;
}

.page-header .container {
  align-items: center;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: black;
}

.page-header .logo {
  padding-top: 24px;
  padding-bottom: 25px;
}

.pages {
  margin-left: 93px;
}

.contacts {
  margin-left: auto;
}

.pages,
.contacts {
  display: flex;
}

.pages .item + .item,
.contacts .item + .item {
  margin-left: 50px;
}

.pages .link,
.contacts .link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
}

.pages .link {
  position: relative;
  color: var(--secondary-color);
}

.pages .link.current {
  color: var(--accent);
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 100%;
  background-color: var(--accent);
  border-radius: 2px;
  height: 4px;
}

.contacts .link {
  display: flex;
  align-items: center;
  color: var(--primary-color);
}

.contacts .link,
.pages .link,
.address .link {
  transition: color var(--transition-function);
}

.pages .link:hover,
.pages .link:focus,
.contacts .link:hover,
.contacts .link:focus,
.address .link:hover,
.address .link:focus {
  color: var(--accent);
}

.ico-email,
.ico-tel {
  margin-right: 10px;
  vertical-align: middle;
  fill: currentColor;
}

/* Studio content */

/* Hat */
.hat {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--contrast-base-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-bcg.jpg");
  background-size: cover;
}

.hat-title {
  width: 696px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--contrast-color);
}

.hat-button {
  margin-top: 30px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--contrast-color);
  background-color: var(--accent);
  border-radius: 4px;
  transition: background-color var(--transition-function);
}

.hat-button:hover,
.hat-button:focus {
  background-color: #188ce8;
}

/* Modal */

.backdrop {
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  scale: 1;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.1);
  transition: scale var(--transition-function),
    opacity var(--transition-function), visibility var(--transition-function);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  scale: 1.2;
}

.modal {
  position: relative;
  width: 528px;
  min-height: 581px;
  border-radius: 4px;
  background-color: var(--contrast-color);
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.close:before,
.close:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 11px;
  height: 1px;
  background: #000000;
}

.close:before {
  webkit-transform: translate(-50%, -50%), rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}

.close:after {
  webkit-transform: translate(-50%, -50%), rotate(45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* Features */

.features-section {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.features-list {
  display: flex;
}

.features-list .item {
  width: calc((100% - 90px) / 4);
}

.features-list .item + .item {
  margin-left: 30px;
}

.features-thumb {
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: var(--additional-color);
}

.ico-features {
  margin: 0 auto;
}

.features-title,
.projects-title {
  display: none;
}

.features-list-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
}

/* Business */

.business-section {
  padding-top: 0;
}

.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.business-list {
  display: flex;
}

.business-list .item {
  position: relative;
}

.business-list .item + .item {
  margin-left: 30px;
}

.business-thumb {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--contrast-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* Team */

.team-section {
  background-color: var(--additional-color);
}

.team.list {
  display: flex;
}

.team > .item {
  width: calc((100% - 90px) / 4);
  background-color: var(--contrast-color);
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team > .item + .item {
  margin-left: 30px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-color);
}

.team-position {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-content {
  padding: 30px;
}

.socials {
  display: flex;
  margin-top: 16px;
}

.socials > .item + .item {
  margin-left: 10px;
}

.socials-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--icon-color);
  transition: color var(--transition-function),
    background-color var(--transition-function);
}

.socials-link:hover,
.socials-link:focus {
  color: var(--contrast-color);
  background-color: var(--accent);
}

.ico-socials {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* CLients */

.clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--icon-color);
}

.clients > .item {
  width: 170px;
  height: 92px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: currentColor;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: color var(--transition-function),
    border-color var(--transition-function);
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent);
  border-color: var(--accent);
}

.clients > .item + .item {
  margin-left: 30px;
}

.clients-logo {
  fill: currentColor;
}

/* Footer */

footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--contrast-base-color);
}

footer .logo {
  color: var(--contrast-color);
}

.container.footer {
  display: flex;
}

.about {
  min-width: 231px;
}

.address {
  margin-top: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--contrast-color);
}

.address .item + .item {
  margin-top: 9px;
}

.address .link {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe {
  margin-left: 70px;
  padding-top: 12px;
}

.subscribe-title {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--contrast-color);
}

.subscribe .socials-list {
  margin-top: 20px;
}

.subscribe .socials-link {
  color: var(--contrast-color);
  background: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-function);
}

.subscribe .socials-link:hover,
.subscribe .socials-link:focus {
  background-color: var(--accent);
}

/* _______________________Portfolio____________________ */

.filter-title {
  display: none;
}

.filter-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.filter-list .item + .item {
  margin-left: 8px;
}

.filter-list .button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  color: var(--secondary-color);
  transition: color var(--transition-function),
    background-color var(--transition-function),
    box-shadow var(--transition-function);
}

.filter-list .button.active,
.filter-list .button:hover,
.filter-list .button:focus {
  color: var(--contrast-color);
  background-color: var(--accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Projects */
.projects-section .container {
  width: 1230px;
}

.projects {
  display: flex;
  width: 100%;
  margin-top: calc(-1 * var(--grid-gap));
  margin-left: calc(-1 * var(--grid-gap));
  flex-wrap: wrap;
}

.projects .link {
  display: block;
  transition: box-shadow var(--transition-function);
}

.projects .link:hover,
.projects .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-thumb {
  position: relative;
  overflow: hidden;
}

.projects-description-thumb {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(33, 150, 243, 0.9);
  transition: transform var(--transition-function);
}

.projects .link:hover .projects-description-thumb,
.projects .link:focus .projects-description-thumb {
  transform: translateY(-100%);
}

.projects-description {
  padding-left: 24px;
  padding-right: 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--contrast-color);
}

.projects-pic {
  display: block;
  width: 100%;
}

.projects > .item {
  display: block;
  flex-basis: calc(
    (100% - (var(--grid-raw-elements) * (var(--grid-gap)))) /
      var(--grid-raw-elements)
  );
  margin-top: var(--grid-gap);
  margin-left: var(--grid-gap);
}

.projects .projects-company {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
}

.projects .projects-type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}

.projects-content {
  padding: 24px 20px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.projects-content p {
  margin-top: 4px;
}
